@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.button:link, .button:visited {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.1);
}
.button--demo {
  background-color: var(--color-secondary);
}
.button--source {
  background-color: var(--color-primary-dark);
}
.button--heading:link, .button--heading:visited {
  display: block;
  background-color: var(--color-grey-light-1);
  padding: 1rem 2rem;
  border-radius: 3px;
  margin-top: 5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  transition: all 0.1s;
  animation-name: moveInFromTop;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
.button--heading:hover {
  transform: translateY(-2px);
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
}
.button--heading:active {
  transform: translateY(-1px);
  box-shadow: 0 1.25rem 1rem rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary-dark);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 4.5rem;
  background-color: var(--color-grey-dark-1);
}
.navigation__container li {
  display: inline-block;
  margin-right: 3rem;
  transition: all 0.2s;
  backface-visibility: hidden;
}
.navigation__container li:hover {
  transform: translateY(-2px);
}
.project-item {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-grey-light-1);
  border-radius: 3px;
}
.project-item:not(:first-of-type) {
  margin-top: 1.5rem;
}
.project-item:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.project-item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 65%;
  padding: 4rem 5rem;
}
.project-item__details-description {
  margin-top: 1rem;
  flex: 1;
}
.project-item__image {
  border: 1px solid black;
  flex: 0 1 35%;
  min-height: 35rem;
}

.section-portfolio {
  padding: 10rem 5rem;
  background-color: var(--color-primary-light);
}

.navigation {
  list-style: none;
}
.navigation__link:link, .navigation__link:visited {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--default-font-size);
  font-weight: 400;
  text-transform: uppercase;
}

.button {
  font-size: var(--default-font-size);
  color: var(--color-white);
  text-decoration: none;
}
.button--heading {
  font-size: 2rem;
  color: var(--color-primary-dark);
}

.heading-primary {
  color: var(--color-white);
  text-align: center;
}
.heading-primary__name {
  display: block;
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  margin: 1rem 0;
  animation-name: moveInFromLeft;
  animation-duration: 1s;
}
.heading-primary__job-title {
  display: block;
  font-weight: 400;
  font-size: 4rem;
  animation-name: moveInFromRight;
  animation-duration: 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}

.heading-secondary {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  color: var(--color-grey-dark-1);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--color-grey-dark-1);
}

.project-item__details-description {
  font-size: var(--default-font-size);
  color: var(--color-grey-dark-1);
}

.u-margin-top-tiny {
  margin-top: 1rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-right-tiny {
  margin-right: 1rem !important;
}

.u-margin-right-small {
  margin-right: 2rem !important;
}

.u-margin-right-medium {
  margin-right: 4rem !important;
}

.u-margin-right-large {
  margin-right: 8rem !important;
}

.u-margin-left-tiny {
  margin-left: 1rem !important;
}

.u-margin-left-small {
  margin-left: 2rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.u-margin-left-large {
  margin-left: 8rem !important;
}

:root {
  --color-primary: #577399;
  --color-primary-dark: #495867;
  --color-primary-light: #BDD5EA;
  --color-secondary: #FE5F55;
  --color-grey-light-1: #F7F7FF;
  --color-grey-dark-1: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --default-font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
