.icon {
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;

  &--social {
    width: 5rem;
    height: 5rem;
    fill: var(--color-grey-light-1);
  }

  &--light {
    fill: var(--color-grey-light-1);
  }

  &--dark {
    fill: var(--color-primary-dark);
  }

  &--github {
    width: 1.5rem;
    height: 1.5rem;
  }
}