.projects-container {
  margin: 5rem 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-grey-light-1);
  border-radius: 3px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3);

  &:not(:first-of-type) {
    margin-top: 5rem;
  }

  &:not(:last-of-type) {
    margin-bottom: 5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 65%;
    padding: 4rem 5rem;
  }

  &__details-description {
    margin-top: 1rem;
    flex: 1;
  }

  &__image {
    border: 1px solid black;
    flex: 0 1 35%;
    min-height: 35rem;
  }
}