.navigation {
  list-style: none;

  &__link:link,
  &__link:visited {
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--default-font-size);
    font-weight: 400;
    text-transform: uppercase;
  }
}

.button {
  font-size: var(--default-font-size);
  color: var(--color-white);
  text-decoration: none;

  &--heading {
    font-size: 2rem;
    color: var(--color-primary-dark);
  }
}

.heading-primary {
  color: var(--color-white);
  text-align: center;

  &__name {
    display: block;
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: .5rem;
    margin: 1rem 0;
    animation-name: moveInFromLeft;
    animation-duration: 1s;
  }

  &__job-title {
    display: block;
    font-weight: 400;
    font-size: 4rem;
    animation-name: moveInFromRight;
    animation-duration: 1s;
    animation-delay: .25s;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;

  &--dark {
    color: var(--color-grey-dark-1);
  }

  &--light {
    color: var(--color-grey-light-1);
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--color-grey-dark-1);
}

.project-item__details-description {
  font-size: var(--default-font-size);
  color: var(--color-grey-dark-1);
}

.contact-form {
  &__field {
    label {
      font-size: 2rem;
    }

    input {
      font-size: 2rem;
      font-family: "Open Sans", sans-serif;
    }

    textarea {
      font-size: 2rem;
      font-family: "Open Sans", sans-serif;
    }
  }
}

.form-button {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer {
  font-size: var(--default-font-size);
  color: var(--color-grey-light-1);
  text-align: center;
}