:root {
  --color-primary: #577399;
  --color-primary-dark: #495867;
  --color-primary-light: #BDD5EA;

  --color-secondary: #FE5F55;

  --color-grey-light-1: #F7F7FF;
  --color-grey-dark-1: #333333;
}