.skills-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.skill {
  background-color: var(--color-primary-dark);
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 3px;
  transition: all .1s;

  &:hover {
    background-color: var(--color-primary);
  }
}